#guest {
	font-family: 'Montserrat', sans-serif;
	background-size: cover;
	background-position: center;
	background: url(../images/background.jpg);
	background-size: cover;
}

#guest::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.7);
}

.guest-form {
	background: #fff;
	margin: auto;
	padding: 40px 30px;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.7);
}

.section {
	position: relative;
	height: 100vh;
}

.section .section-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.booking-cta {
	margin-top: 45px;
}

.booking-cta h1 {
	font-size: 52px;
	text-transform: uppercase;
	color: rgba(255, 255, 255, .7);
	font-weight: 900;
}

.booking-cta p {
	font-size: 22px;
	color: #fff;
}

.guest-form .form-group {
	position: relative;
	margin-bottom: 20px;
}

.custom-style > input {
	background-color: transparent !important;
	border-color: black;
}

.custom-style > select {
	background-color: transparent !important;
	border-color: black;
}

.custom-style .input-group-prepend .input-group-text {
	background-color: transparent !important;
	border-color: black;
	color: black;
}